<div class="text-center p-2">
    <h1>All Products</h1>
    <hr>
</div>

<div class="card-columns">
    <div class="card">
        <img src="assets/images/arroz.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-outline-warning btn-block">Add</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/fresas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-outline-warning btn-block">Add</button>
        </div>
    </div>
    <div class="card">
        <img src="assets/images/suavitel.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title that wraps to a new line</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-outline-warning btn-block">Add</button>
        </div>
    </div>

</div>