<div class="text-center p-2">
    <h1>Products</h1>
    <hr>
</div>

<div class="card-columns text-center">
    <div class="card" *ngFor="let product of products">
        <img [src]="product.img" class="card-img-top" [alt]="product.name">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text"> ${{ product.price }}</p>
            <button type="button" class="btn btn-outline-warning btn-block">Add to cart</button>
        </div>
    </div>

</div>